@{
  Layout = "_Layout";
}

<h1>Details for Engineer named: @Model.Name</h1>

<ul>
  <li>Employee ID: @Model.EngineerId</li>
  <li>Engineer Name: @Model.Name</li>
  <li>Years In Service: @Model.YearsExperience</li>
</ul>